body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 4.5em 2em;
  text-align: center;
}

.name-display {
  margin-bottom: 40px;
  font-size: 24px;
  font-style: italic;
}

.generate-name-btn {
  padding: 10px;
  font-size: 16px;
}
