body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 4.5em 2em;
  text-align: center;
}

.name-display {
  margin-bottom: 40px;
  font-size: 24px;
  font-style: italic;
}

.generate-name-btn {
  padding: 10px;
  font-size: 16px;
}

.can-image {
/*   height: 1280 × 1792 */
  width: 320px;
  height: 597px;
  background-image: url('https://cdn.glitch.com/e671aff0-b64f-4c52-98e5-3dc52f2d9952%2FLacrox_Lau.png?v=1565293638565');
  background-repeat: no-repeat;
  background-size: contain;
}